site_url: https://player9753193.github.io/No-Man-s-Sky-Wiki/
use_directory_urls: true
site_dir: site

site_name: No Man’s Sky Wiki
site_description: 工程化攻略+百科混合 Wiki（静态站）
theme:
  name: material
  language: zh
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - toc.follow
    - content.code.copy
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - footnotes
  - tables
  - def_list
  - pymdownx.details
  - pymdownx.superfences

nav:
  - 门户: Home.md
  - 分类: Categories.md
  - 索引: Index.md
  - 术语: Glossary.md
